/* Стили для панели управления */

/* Основа */
#cpwrapper {
    width: 100%;
    margin: 0 auto;
    outline: 0px solid #ffffff;
    background: #fefefe url(../images/templates/light/bg.jpg) no-repeat center 0px;
    background-attachment: fixed;
}

header, footer {
    height: 40px;
    max-width: none;
    margin: 0;
}
#cpheader {
    height: 40px;
    width: 100%;
    outline: 0px solid #0000ff;
    background: #bfbfbf url(../images/templates/light/menu1x40.png) repeat-x 0 0; /* #bfbfbf #92e2fd; */
}

#cpfooter {
    height: 40px;
    outline: 0px solid #00cc00;
    background: #787878 url(../images/templates/light/fon70x70.png) repeat 0 0;
    padding-top: 5px;
}
#cpfooter p {
    font: normal 10pt Arial, Verdana, Tahoma, Helvetica, sans-serif;
    text-indent: 0px;
    text-align: center;
}

.topmenu {
    background: #ffffff;
    margin: 0px 10px 0px 0px;
}
#cpmenu {
    height: 40px;
    width: 700px;
    outline: 0px solid #00ff00;
    background: transparent;
    float: left;
}

#cpmain {
    display: flex;
    height: auto;
    margin: 0px;
    outline: 0px solid #ff9900;
}

/* Логотип */
#cplogotip {
    background: transparent url(../images/aav/cplogotip.png) no-repeat 0 0;
    margin: 4px 16px 4px 16px;
    width: 366px;
    height: 30px;
    outline: 0px solid #ffffff;
    float: left;
}
#cplogotip a {
    display: block;
    width: 366px;
    height: 30px;
    outline: 0px solid #ffffff;
}

#cpprivet_user {
    background: transparent;
    color: #ffffff;
    display: block;
    justify-content: center;
    font: normal 14pt Arial, Verdana, Tahoma, Helvetica, sans-serif;
    margin: 0px;
    padding: 6px 0px 4px 0px;
    height: 40px;
    width: 240px;
    outline: 0px solid #ff0000;
    float: left;
    text-align: center;
}
#cpprivet_user a {
    color: #ffffff;
}

.cpinput, .cpinput_button {
    line-height: 1.5;
    margin: 0px 25px 20px 25px;
}
.cpinput textarea {
    width: 100%;
}

.cpinput_button {
    margin: 0px auto;
    text-align: center;
}
.row {
    margin-left: 0px;
    margin-rigth: 0px;
}
.cphelp-block {
    font-size: 10pt;
    margin: 0px 25px 0px 25px;
}


#screenshots, #introduction, #text {
    resize: vertical; /* Запрет изменений размеров по горизонтали */
}

/* Левый блок */
#cpleftblock {
    display: block;
    margin: 5px 5px 5px 0px;
    width: 195px;
    height: auto;
    float: left;
    left: 0px;
    top: 0px;
    outline: 0px solid #ff0000;
}

/* Центральный блок с контентом */
#cpcenterblock {
    display: block;
    margin: 5px 0px 5px 0px;
    width: 87%;
    min-width: 600px;
    max-width: none;
    height: auto;
    float: left;
    outline: 0px solid #ff00ff;
    background: #ffffff;
    text-shadow: none;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
}

/* Основной блок для контента и боковых объектов */
.cpblocktitle, #cpbreadcrumbs {
    display: block;
    font-size: 10pt;
    margin: 0px;
    width: auto;
    height: 30px;
    outline: 0px solid #ff00ff;
    overflow: hidden;
    white-space: nowrap !important; /* Не переносить слова в строке */
    word-wrap: normal !important; /* Не переносить длинные слова */
}

.cpblocktitle {
    font-weight: bold;
    padding: 6px 0px 0px 0px;
    text-align: center;
}

.cpblocktext {
    display: block;
    margin: 0px;
    width: auto;
    height: auto;
    outline: 0px solid #00ccff;
}

.cpblocktitle {
    background: transparent url(../images/templates/light/blocktitle600x1.png) repeat-x 0 0;
}

.cpblocktext {
    background: transparent url(../images/templates/light/blocktitle600x1.png) repeat-x 0 0;
    padding: 5px 10px 5px 10px;
    min-height: 150px;
}

/* Навигация в основном текстовом блоке для контента */
#cpbreadcrumbs {
    background: transparent url(../images/templates/light/blockhead1x30.png) repeat-x 0 0; /* #bdbdbd */
    /* background: transparent url(../images/templates/light/blocktitle600x1.png) repeat-x 0 0; */
    font-weight: normal;
    padding: 6px 5px 0px 5px;
    text-align: left;
    outline: 0px solid #ff00ff;
}

#cpbreadcrumbs a, #cpbreadcrumbs a:link, #cpbreadcrumbs a:visited, .cpblocktitle a, .cpblocktitle a:link, .cpblocktitle a:visited {
    color: #000000;
    font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
    font-size: 10pt;
    outline: 0px solid #0000cc;
    text-decoration: none;
}

#cpbreadcrumbs a:active, .cpblocktitle a:active {
    color: #0099cc;
}

#cpbreadcrumbs a:hover, .cpblocktitle a:hover {
    color: #0099ff;
}

#cpbreadcrumbs a.current, #cpbreadcrumbs a.current:link, #cpbreadcrumbs a.current:visited {color: #6699ff; text-decoration: none;}
#cpbreadcrumbs a.current:active, #cpbreadcrumbs a.current:hover {cursor: pointer; text-decoration: none;}
#cpbreadcrumbs a.current:active {color: #0099cc;}
#cpbreadcrumbs a.current:hover {color: #0099ff;}

/* Текст футера */
#cpinfooter p {
    color: #000000;
    display: block;
    font: normal 8pt Arial, Verdana, Tahoma, Helvetica, sans-serif;
    width: 100%;
    height: 30px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    outline: 0px solid #ffffff;
    text-align: center;
    text-indent: 0px;
}

#cpinfooter a, #cpinfooter a:link, #cpinfooter a:visited {color: #6699ff; text-decoration: none;}
#cpinfooter a:active, #cpinfooter a:hover {color: #0099ff; cursor: pointer; text-decoration: none;}

.cplinks {
    margin: 10px auto;
    text-align: center;
}

.cpimg, th.cpth {
    width: 24px !important;
    height: 22px !important;
    margin: 0px;
    padding: 0px;
}

th.cpth {
    background-repeat: no-repeat !important;
    background-position: 1px -47px !important;
    text-align: center;
}

.cpimg a, .cpimg a:active, .cpimg a:link, .cpimg a:visited {
    background-repeat: no-repeat;
    background-position: 0px 0px;
    border: 0px none;
    display: block;
    width: 24px;
    height: 24px;
    text-align: center;
    cursor: pointer;
}

.cpimg a:hover {
    background-position: 0px -24px;
}

.cpimg a.view, th.cpth#view {
    background-image: url(../images/templates/all/view.png);
}
.cpimg a.edit, th.cpth#edit {
    background-image: url(../images/templates/all/edit.png);
}
.cpimg a.delete, th.cpth#delete {
    background-image: url(../images/templates/all/delete.png);
}

.cpnopublished, .cpnoactivation {
    background-color: #ff9f9f;
}

.cpsecret {
    color: #666666;
    font-style: italic;
}

.cphidden {
    color: #0000ff;
    background-color: #ffff00;
    font-weight: bold;
    text-decoration: underline;
}

/* Постраничная навигация для новостей */
.cppaginal_navigation {
    background-color: #fefefe;
    color: #000000;
    display: block;
    font: 10pt Arial, Verdana, Tahoma, Helvetica, sans-serif;
    margin: 0px 0px 5px 0px;
    padding: 5px 10px 5px 10px;
    width: auto;
    outline: 0px solid #00ffff;
    position: relative;
    text-shadow: none;
}

.cppaginal_navigation a, .cppaginal_navigation a:link, .cppaginal_navigation a:visited {
    color: #0099ff;
    font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
    font-size: 10pt;
    outline: 0px solid #0000cc;
    text-decoration: none;
}

.cppaginal_navigation a:active {
    color: #0099cc;
}

.cppaginal_navigation a:hover {
    color: #000000;
}

.cpnum_select {
    outline: 0px solid #00aaff;
}
.cpnum_select {
    outline: 0px solid #00aaff;
    text-align: center;
}

.phone_plus {
    outline: 0px solid #00aaff;
    width: 12px;
    float: left;
    position: relative;
    top: -34px;
    left: 5px;
}

/* Стили загрузчика файлов upload.php */
.upload {
    background: #ffffff;
    color: #999999;
    font-family: Arial, sans-serif;
    font-size: 24px;
}

.fs-upload-target {
    border: 3px dashed #cccccc;
    border-radius: 3px;
    cursor: pointer;
    margin: 0px;
    padding: 25px;
    height: auto;
    text-align: center;
    -webkit-transition: background 0.15s linear,
    border 0.15s linear,
    opacity 0.15s linear;
    transition: background 0.15s linear,
    border 0.15s linear,
    opacity 0.15s linear;
}
.fs-upload.fs-upload-dropping .fs-upload-target {
    background-color: #cceeff;
    border-color: #99ccff;
    color: #6699cc;
}

.fs-upload-input {
    display: none;
    left: 100%;
    opacity: 0;
    position: absolute;
}
.no-opacity .fs-upload-input {
    left: -9999px;
}

.upload_file {
    color: #000000;
    display: block;
    margin: 10px 0px 10px 0px;
    text-align: left;
    width: 100%;
}

.upload_result {
    font-family: Arial, sans-serif;
    font-size: 14px;
}
.upload_file_name {
    float: left;
    width: 66%;
    word-wrap: break-word;
    outline: 0px solid #00ff00;
}
.upload_file_progress_bar {
    float: left;
    width: auto;
    outline: 0px solid #ff00ff;
}
.upload_file_progress {
    color: #999999;
    font-size: 12px;
    float: left;
    margin: 2px 2px 0px 0px;
    width: auto;
    text-align: left;
    outline: 0px solid #00ffff;
}
.upload_file_status {
    float: right;
    text-align: right;
    width: 10%;
    outline: 0px solid #ffff00;
}

progress {
    background: #eeeeee;
    border: 0px none;
    border-radius: 2px;
    width: 120px;
    height: 5px;
    margin: 0px 5px 6px 5px;
    outline: 0px solid #ff0000;
}
progress::-webkit-progress-bar {
    background: #eeeeee;
    border-radius: 2px;
    width: 120px;
    height: 5px;
}
progress::-moz-progress-bar {
    background: #35b545;
    border-radius: 5px;
    width: 120px;
    height: 5px;
}

.upload_process {
    color:#6699cc;
}
.upload_ok {
    color:#35b545;
}
.upload_error {
    color:#ff0000;
}
/* Стили загрузчика файлов upload.php */


/* ajaxupload для загрузки файлов */
/* wrapper */
.file_upload {
    background-color: #ffffff;
    border: 2px inset #5eb9ff; /* #0099ff; */
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    transition: box-shadow 0.1s linear;
    cursor: pointer;
    display: block;
    font-size: 14pt;
    /* height: 40px; */
    /* width: 230px; */
    /*line-height: 20px;  the same as height */
    margin: 2px 0px 2px 0px;
    padding: 4px 6px 4px 6px;
    outline: 0px solid #000000;
    overflow: hidden;
    position: relative;
    text-align: left;
    vertical-align: middle;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
.file_upload.focus {
    box-shadow: 0 0 5px rgba(0,30,255,0.4);
}

/* button */
.file_upload > button.file_upload_button {
    background-color: #3399ff;
    transition: background 0.2s;
    border: 1px solid #939494;
    border-radius: 4px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #ffffff;
    font-size: 14px;
    float: right;
    width: 120px;
    height: 100%;
    line-height: 20px;
    outline: 0px solid #ff0000;
    overflow: hidden;
    padding: 2px 4px;
    text-align: center;
    text-overflow: ellipsis;
    text-shadow: #3399ff 0 -1px 0;
    vertical-align: middle;
    white-space: nowrap;
}
.file_upload:hover > button.file_upload_button {
    background-color: #44aaff;
    text-shadow: #44aaff 0 -1px 0;
}
.file_upload:active > button.file_upload_button {
    background-color: #55bbff;
    box-shadow: 0 0 3px rgba(0,0,0,0.3) inset;
}

/* label */
.file_upload > div.file_upload_label {
    background-color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    float: left;
    line-height: 22px;
    outline: 0px solid #00ff00;
    overflow: hidden;
    padding: 2px;
    text-align: left;
    vertical-align: middle;
    /* z-index: 20; */
}

/* input */
.file_upload input[type=file] {
    cursor: pointer;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    transform: scale(20);
    -ms-transform: scale(20); /* IE 9 fix */
    letter-spacing: 10em;     /* IE 9 fix */
    /* z-index: 1; */
}

.file_upload_result {
    min-height: 10px;
    margin: 5px 0px 5px 0px;
}

@media only screen and (max-width: 500px) {  /* example */

    .file_upload > div {
        display: none;
    }
    .file_upload > button {
        width: 100%;
    }
}
/* ajaxupload для загрузки файлов */


/* Загруженные картинки */
.uploadimage {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 100%;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    display: inline-block;
    padding: 2px;
    margin: 5px 1px 5px 1px;
    -webkit-transform: translate(0px);
    -ms-transform: translate(0px);
    -o-transform: translate(0px);
    transform: translate(0px);
    text-decoration: none;
    width: 156px;
    height: auto;
    z-index: 1;
}

.uploadimage img {
    width: 150px;
    height: auto;
    vertical-align: middle;
    z-index: 1;
}

/* Удаление картинки */
.delimg {
    /*background: rgba(0,0,0,.4); */
    background-repeat: no-repeat;
    background-image: url(../images/templates/all/del_image.png);
    background-position: center center;
    border: 0px none;
    border-radius: 0px;
    color: #fff;
    cursor: pointer;
    font-size: 10px;
    line-height: 0;
    height: 24px;
    width: 24px;
    margin: 2px;
    padding: 4px;
    position: absolute;
    top: 0px;
    right: 0px;
    -o-transition: opacity 60ms linear;
    transition: opacity 60ms linear;
    opacity: 0;
    z-index: 100;
}
.delimg:hover {
    opacity: 1;
}
/* Удаление картинки */